@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
    background-color: whitesmoke;
}
.jumbotron {
    background-color: cornflowerblue;
}
.flexcontainerhomepage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px;
}
.box {
    text-align: center;
    padding: 15px;
    width: 33%
}
#emailbox {
    width: 50%
}
.section {
    padding: 0.5rem 2rem 1rem 2rem;
}
button, input[type="submit"] {
    background-color: cornflowerblue;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

#emailHelp {
    color: grey;
}